In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('FB.csv')
df.describe()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2012-05-18,42.049999,45.000000,38.000000,38.230000,38.230000,573576400
1,2012-05-21,36.529999,36.660000,33.000000,34.029999,34.029999,168192700
2,2012-05-22,32.610001,33.590000,30.940001,31.000000,31.000000,101786600
3,2012-05-23,31.370001,32.500000,31.360001,32.000000,32.000000,73600000
4,2012-05-24,32.950001,33.209999,31.770000,33.029999,33.029999,50237200
...,...,...,...,...,...,...,...
2315,2021-08-02,358.100006,359.399994,350.739990,351.950012,351.950012,13180400
2316,2021-08-03,352.730011,353.769989,347.700012,351.239990,351.239990,12393000
2317,2021-08-04,352.420013,360.480011,351.510010,358.920013,358.920013,14180600
2318,2021-08-05,359.640015,363.899994,356.899994,362.970001,362.970001,10247200
2319,2021-08-06,361.399994,365.149994,361.399994,363.510010,363.510010,8918100